@model IEnumerable<SII_App_Grupo_5.Models.MultiPropietario>

@{
    ViewData["Title"] = "Index";
}

<h1>Multipropietario</h1>

<form asp-controller="MultiPropietario" asp-action="Index" method="post">
    <field class="text" style="display: flex">
        <label for="searchComuna">Comuna:</label>
        <select name="searchComuna" class="form-control" id="searchComuna">
            <option value="">Seleccione una comuna</option>
            @foreach (var comuna in ViewBag.Comunas)
            {
                <option name="searchComuna" value="@comuna.Nombre">@comuna.Nombre</option>
            }
        </select>
    </field>
    <field class='text' style="display: flex">
        <label for="searchManzana">Manzana: </label>
        <input type="text" name="searchManzana" placeholder="Search..." class="form-control" id="searchManzana" />
    </field>
    <field class='text' style="display: flex">
        <label for="searchPredio">Predio: </label>
        <input type="text" name="searchPredio" placeholder="Search..." class="form-control" id="searchPredio" />
    </field>
    <field class='text' style="display: flex">
        <label for="searchAnoVigenciaInicial">Año Vigencia Inicial: </label>
        <input type="text" name="searchAnoVigenciaInicial" placeholder="Search..." class="form-control" id="searchAnoVigenciaInicial" />
    </field>
    <field class='text' style="display: flex">
        <label for="searchAnoVigenciaFinal">Año Vigencia Final</label>
        <input type="text" name="searchAnoVigenciaFinal" placeholder="Search..." class="form-control" id="searchAnoVigenciaFinal" />
    </field>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Comuna
            </th>
            <th>
                Manzana
            </th>
            <th>
                Predio
            </th>
            <th>
                Propietario
            </th>
            <th>
                Porcentaje Derecho
            </th>
            <th>
                Fojas
            </th>
            <th>
                Fecha Inscripción
            </th>
            <th>
                Año Inscripción
            </th>
            <th>
                Número Inscripción
            </th>
            <th>
                Año Vigencia Inicial
            </th>
            <th>
                Año Vigencia Final
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manzana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RutPropietario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorcentajeDerecho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fojas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoVigenciaInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoVigenciaFinal)
            </td>
        </tr>
}
    </tbody>
</table>
